.tag {
    color: var(--dark-main);
    background-color: var(--main);
    border-radius: var(--border-radius-full);
    padding: 2px 10px;

    &.dark {
        color: var(--main);
        background-color: var(--dark-main);
    }
}
