.tag {
  color: var(--dark-main);
  background-color: var(--main);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius-full);
  padding: 2px 10px;

  &.transparent {
    background-color: var(--main-transparent);
  }

  &.dark {
    color: var(--main);
    background-color: var(--dark-main);

    &.transparent {
      background-color: var(--dark-main-transparent);
    }
  }

  &.blue {
    color: var(--dark-blue);
    background-color: var(--blue);

    &.transparent {
      background-color: var(--blue-transparent);
    }

    &.dark {
      color: var(--blue);
      background-color: var(--dark-blue);

      &.transparent {
        background-color: var(--dark-blue-transparent);
      }
    }
  }

  &.green {
    color: var(--dark-green);
    background-color: var(--green);

    &.transparent {
      background-color: var(--green-transparent);
    }

    &.dark {
      color: var(--green);
      background-color: var(--dark-green);

      &.transparent {
        background-color: var(--dark-green-transparent);
      }
    }
  }

  &.red {
    color: var(--dark-red);
    background-color: var(--red);

    &.transparent {
      background-color: var(--red-transparent);
    }

    &.dark {
      color: var(--red);
      background-color: var(--dark-red);

      &.transparent {
        background-color: var(--dark-red-transparent);
      }
    }
  }

  &.purple {
    color: var(--dark-purple);
    background-color: var(--purple);

    &.transparent {
      background-color: var(--purple-transparent);
    }

    &.dark {
      color: var(--purple);
      background-color: var(--dark-purple);

      &.transparent {
        background-color: var(--dark-purple-transparent);
      }
    }
  }

  &.orange {
    color: var(--dark-orange);
    background-color: var(--orange);

    &.transparent {
      background-color: var(--orange-transparent);
    }

    &.dark {
      color: var(--orange);
      background-color: var(--dark-orange);

      &.transparent {
        background-color: var(--dark-orange-transparent);
      }
    }
  }

  &.yellow {
    color: var(--dark-yellow);
    background-color: var(--yellow);

    &.transparent {
      background-color: var(--yellow-transparent);
    }

    &.dark {
      color: var(--yellow);
      background-color: var(--dark-yellow);

      &.transparent {
        background-color: var(--dark-yellow-transparent);
      }
    }
  }

  &.pink {
    color: var(--dark-pink);
    background-color: var(--pink);

    &.transparent {
      background-color: var(--pink-transparent);
    }

    &.dark {
      color: var(--pink);
      background-color: var(--dark-pink);

      &.transparent {
        background-color: var(--dark-pink-transparent);
      }
    }
  }

  &.lime {
    color: var(--dark-lime);
    background-color: var(--lime);

    &.transparent {
      background-color: var(--lime-transparent);
    }

    &.dark {
      color: var(--lime);
      background-color: var(--dark-lime);

      &.transparent {
        background-color: var(--dark-lime-transparent);
      }
    }
  }
}
