.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  .pagination-pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  .pagination-control,
  .pagination-page {
    border: none;
    background: var(--light);
    color: var(--dark);
    min-width: 40px;
    height: 40px;
    padding: 0 14px;
    cursor: pointer;
    transition: var(--transition);
  }

  .pagination-control:hover,
  .pagination-page:hover {
    color: var(--main);
  }

  .pagination-page.active {
    color: var(--dark-main);
    font-weight: 700;
    font-size: 1.25em;
  }

  .pagination-control:disabled,
  .pagination-page:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pagination-control:disabled:hover,
  .pagination-page:disabled:hover {
    color: var(--dark);
  }

  .pagination-ellipsis {
    min-width: 24px;
    text-align: center;
    color: var(--dark-gray);
  }

  &.dark {
    .pagination-control,
    .pagination-page {
      background: var(--dark);
      color: var(--light);
    }

    .pagination-control:hover,
    .pagination-page:hover {
      color: var(--dark-main);
    }

    .pagination-page.active {
      color: var(--main);
    }

    .pagination-control:disabled:hover,
    .pagination-page:disabled:hover {
      color: var(--light);
    }

    .pagination-ellipsis {
      color: var(--light-gray);
    }
  }
}

@media (max-width: 600px) {
  .pagination {
    justify-content: center;
  }
}
