@import "../../Variables.css";

.loader {
  --c: var(--main);
  --dc: var(--dark-main);
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius-full);
  display: inline-block;
  position: relative;
  border: 3px solid;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 5px;

  border-color: transparent var(--dc) var(--c) transparent;

  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-radius: var(--border-radius-full);
    transform-origin: center center;
    border-color: transparent var(--dc) var(--c) transparent;
  }

  &::after {
    width: 40px;
    height: 40px;
    animation: rotation 2s linear infinite;
  }

  &::before {
    width: 32px;
    height: 32px;
    animation: rotation 4s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
