@import "../../Variables.css";

.loader {
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius-full);
  display: inline-block;
  position: relative;
  border: 3px solid;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 5px;

  border-color: transparent var(--dark-main) var(--main) transparent;

  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-radius: var(--border-radius-full);
    transform-origin: center center;
    border-color: transparent var(--dark-main) var(--main) transparent;
  }

  &::after {
    width: 40px;
    height: 40px;
    animation: rotation 2s linear infinite;
  }

  &::before {
    width: 32px;
    height: 32px;
    animation: rotation 4s linear infinite;
  }

  &.blue {
    border-color: transparent var(--dark-blue) var(--blue) transparent;

    &::after {
      border-color: transparent var(--dark-blue) var(--blue) transparent;
    }
    &::before {
      border-color: transparent var(--dark-blue) var(--blue) transparent;
    }
  }

  &.green {
    border-color: transparent var(--dark-green) var(--green) transparent;

    &::after {
      border-color: transparent var(--dark-green) var(--green) transparent;
    }
    &::before {
      border-color: transparent var(--dark-green) var(--green) transparent;
    }
  }

  &.red {
    border-color: transparent var(--dark-red) var(--red) transparent;

    &::after {
      border-color: transparent var(--dark-red) var(--red) transparent;
    }
    &::before {
      border-color: transparent var(--dark-red) var(--red) transparent;
    }
  }

  &.purple {
    border-color: transparent var(--dark-purple) var(--purple) transparent;

    &::after {
      border-color: transparent var(--dark-purple) var(--purple) transparent;
    }
    &::before {
      border-color: transparent var(--dark-purple) var(--purple) transparent;
    }
  }

  &.orange {
    border-color: transparent var(--dark-orange) var(--orange) transparent;

    &::after {
      border-color: transparent var(--dark-orange) var(--orange) transparent;
    }
    &::before {
      border-color: transparent var(--dark-orange) var(--orange) transparent;
    }
  }

  &.yellow {
    border-color: transparent var(--dark-yellow) var(--yellow) transparent;

    &::after {
      border-color: transparent var(--dark-yellow) var(--yellow) transparent;
    }
    &::before {
      border-color: transparent var(--dark-yellow) var(--yellow) transparent;
    }
  }

  &.pink {
    border-color: transparent var(--dark-pink) var(--pink) transparent;

    &::after {
      border-color: transparent var(--dark-pink) var(--pink) transparent;
    }
    &::before {
      border-color: transparent var(--dark-pink) var(--pink) transparent;
    }
  }

  &.lime {
    border-color: transparent var(--dark-lime) var(--lime) transparent;

    &::after {
      border-color: transparent var(--dark-lime) var(--lime) transparent;
    }
    &::before {
      border-color: transparent var(--dark-lime) var(--lime) transparent;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
