@import "src/Variables.scss";

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 5px;

  border-color: $main $main transparent;

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.4s linear infinite;
    transform-origin: center center;

    border-color: transparent $dark-main $dark-main;
  }

  &.green {
    border-color: $green $green transparent;

    &::after {
      border-color: transparent $dark-green $dark-green;
    }
  }

  &.red {
    border-color: $red $red transparent;

    &::after {
      border-color: transparent $dark-red $dark-red;
    }
  }

  &.purple {
    border-color: $purple $purple transparent;

    &::after {
      border-color: transparent $dark-purple $dark-purple;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
