.input {
  background-color: transparent;
  border: 2px solid var(--dark-main);
  padding: 5px 15px;
  border-radius: var(--border-radius-small);
  font-weight: 700;
  font-size: 16px;
  width: 100%;

  &:focus {
    background-color: var(--main);
    border: 2px solid var(--main);
    outline: none;
  }

  &.dark {
    border: 2px solid var(--main);
    color: var(--light);

    &:focus {
      background-color: var(--dark-main);
      border: 2px solid var(--dark-main);
      outline: none;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  font-weight: 700;

  & input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--dark-main);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    &:checked {
      background-color: var(--dark-main);
    }

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.2s;
    }
    &:checked::after {
      opacity: 1;
    }
  }
  &.dark input[type="checkbox"] {
    border: 2px solid var(--main);

    &:checked {
      background-color: var(--main);
    }

    & .label-text {
      color: var(--light);
    }
  }
}

/* ===== SWITCH ===== */
.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  font-weight: 700;

  & input {
    display: none;
  }
}

/* Slider */
.switch-slider {
  position: relative;
  width: 40px;
  height: 22px;
  background-color: var(--main);
  border-radius: 30px;
  transition: background 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--light);
    transition: transform 0.3s ease;
  }
}

.switch-wrapper input:checked + .switch-slider {
  background-color: var(--dark-main);
}

.switch-wrapper input:checked + .switch-slider::before {
  transform: translateX(18px);
}

.switch-wrapper.dark .switch-slider {
  background-color: var(--dark-main);
}

.switch-wrapper.dark input:checked + .switch-slider {
  background-color: var(--main);
}

.switch-wrapper.dark .label-text {
  color: var(--light);
}
