@import "../../Variables.css";

.button {
  padding: 5px 25px;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  min-width: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(145deg, var(--main), var(--dark-main));
  background-size: 100% 300%;
  background-position: 0% 0%;
  border: 2px solid var(--dark-main);
  color: var(--dark-main);

  transition: var(--transition);

  &:hover {
    border: 2px solid var(--main);
    color: var(--main);
    text-decoration: underline;
    background-position: 0% 100%;
  }

  &.dark {
    border: 2px solid var(--main);
    color: var(--main);
    background-position: 0% 100%;

    &:hover {
      background-position: 0% 0%;
      border: 2px solid var(--dark-main);
      color: var(--dark-main);
    }
  }

  &.secondary {
    background: transparent;
    border: 2px solid var(--dark-main);
    color: var(--dark-main);

    &:hover {
      border: 2px solid var(--main);
    }

    &.dark {
      border: 2px solid var(--main);
      color: var(--main);

      &:hover {
        background-color: transparent;
        border: 2px solid var(--dark-main);
      }
    }
  }

  &.blue {
    background: linear-gradient(145deg, var(--blue), var(--dark-blue));
    background-size: 100% 300%;
    background-position: 0% 0%;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);

    &:hover {
      background-position: 0% 100%;
      border: 2px solid var(--blue);
      color: var(--blue);
    }

    &.dark {
      background-position: 0% 100%;
      border: 2px solid var(--blue);
      color: var(--blue);

      &:hover {
        background-position: 0% 0%;
        border: 2px solid var(--dark-blue);
        color: var(--dark-blue);
      }
    }
  }

  &.green {
    background: linear-gradient(145deg, var(--green), var(--dark-green));
    background-size: 100% 300%;
    background-position: 0% 0%;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);

    &:hover {
      background-position: 0% 100%;
      border: 2px solid var(--green);
      color: var(--green);
    }

    &.dark {
      background-position: 0% 100%;
      border: 2px solid var(--green);
      color: var(--green);

      &:hover {
        background-position: 0% 0%;
        border: 2px solid var(--dark-green);
        color: var(--dark-green);
      }
    }
  }

  &.purple {
    background: linear-gradient(145deg, var(--purple), var(--dark-purple));
    background-size: 100% 300%;
    background-position: 0% 0%;
    border: 2px solid var(--dark-purple);
    color: var(--dark-purple);

    &:hover {
      background-position: 0% 100%;
      border: 2px solid var(--purple);
      color: var(--purple);
    }

    &.dark {
      background-position: 0% 100%;
      border: 2px solid var(--purple);
      color: var(--purple);

      &:hover {
        background-position: 0% 0%;
        border: 2px solid var(--dark-purple);
        color: var(--dark-purple);
      }
    }
  }

  &.red {
    background: linear-gradient(145deg, var(--red), var(--dark-red));
    background-size: 100% 300%;
    background-position: 0% 0%;
    border: 2px solid var(--dark-red);
    color: var(--dark-red);

    &:hover {
      background-position: 0% 100%;
      border: 2px solid var(--red);
      color: var(--red);
    }

    &.dark {
      background-position: 0% 100%;
      border: 2px solid var(--red);
      color: var(--red);

      &:hover {
        background-position: 0% 0%;
        border: 2px solid var(--dark-red);
        color: var(--dark-red);
      }
    }
  }

  &.disabled {
    background: rgba(128, 128, 128, 0.5);
    border: 2px solid rgba(128, 128, 128, 0.5);
    color: rgba(128, 128, 128, 0.8);
    cursor: auto;
    text-decoration: none;

    &:hover {
      border: 2px solid rgba(128, 128, 128, 0.5);
      color: rgba(128, 128, 128, 0.8);
    }
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 5px 15px;
  }
}
