ul {
  &.list {
    list-style-type: disc;

    & li {
      margin-left: 16px;

      &::marker {
        color: var(--dark-main);
      }
    }
    &.dark {
      & li {
        &::marker {
          color: var(--main);
        }
      }
    }
  }
}

ol {
  &.list {
    list-style-type: decimal;

    & li {
      margin-left: 16px;

      &::marker {
        color: var(--dark-main);
        font-weight: bold;
      }
    }
    &.dark {
      & li {
        &::marker {
          color: var(--main);
        }
      }
    }
  }
}
