@import url("../../Variables.css");

.main {
  min-height: 100vh;
  background-color: var(--light);
  color: var(--dark);

  /* navbar */
  position: relative;
  padding: 70px 0;

  /* sidebar */
  /* display: flex; */

  transition: var(--transition);

  &.dark {
    background-color: var(--dark);
    color: var(--light);
  }

  .content {
    width: 70%;
    margin: 0 auto;

    /* sidebar */
    /* padding: 30px 0; */
  }
}

@media screen and (max-width: 768px) {
  .main {
    .content {
      width: 90%;

      /* sidebar */
      /* padding-left: var(--header-width-closed); */
    }
  }
}
