@import "src/Variables.scss";

.product-card {
  background: linear-gradient(145deg, transparent 40%, $main 120%);
  border: 2px solid $main;
  box-shadow: 2px 2px 5px $dark-main;
  border-radius: 5px;
  margin: 5px;
  max-width: 300px;
  // overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  &__info {
    padding: 0px 15px 10px 15px;
  }

  &__name {
    background: transparent;
  }

  &__price {
    font-weight: 700;
    font-size: 30px;

    &__main {
      text-decoration: line-through;
    }
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__onSale {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $main;
    padding: 5px 20px;
    border-radius: 5px;
  }
}
