@import "../../Variables.css";

.product-card {
  background: linear-gradient(145deg, transparent 40%, var(--main) 120%);
  border: 2px solid var(--main);
  box-shadow: 2px 2px 5px var(--dark-main);
  border-radius: var(--border-radius-large);
  max-width: 300px;
  height: fit-content;
  /* overflow: hidden; */
  position: relative;

  & .product-card__image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: calc(var(--border-radius-small) + 6px)
      calc(var(--border-radius-small) + 6px) 0 0;
  }

  & .product-card__info {
    padding: 0px 15px 10px 15px;
  }

  & .product-card__name {
    background: transparent;
    text-wrap: balance;
  }

  & .product-card__price {
    font-weight: 700;
    font-size: 30px;
  }
  & .product-card__price__main {
    text-decoration: line-through;
  }

  & .product-card__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & .product-card__onSale {
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: 700;
    background-color: var(--main);
    padding: 5px 20px;
    border-radius: var(--border-radius-small);
  }
  & .product-button {
    font-size: 14px;
  }
}
