@import "../../Variables.css";

.card {
  position: relative;
  background: linear-gradient(145deg, transparent 40%, var(--main) 120%);
  border: 2px solid var(--main);
  box-shadow: 2px 2px 5px var(--dark-main);
  border-radius: var(--border-radius-large);
  max-width: 300px;
  height: fit-content;

  & .card__image {
    width: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-radius-large) - 2px)
      calc(var(--border-radius-large) - 2px) 0 0;
  }

  & .card__info {
    padding: 0 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .card__title,
  & .card__subtitle {
    background: transparent;
    text-wrap: balance;
    margin: 12px 0 4px;
  }

  & .card__subtitle {
    margin-top: 0;
    font-size: 18px;
  }

  & .card__prices {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 4px 0;
  }

  & .card__price {
    font-weight: 700;
    font-size: 30px;
  }

  & .card__price--before {
    text-decoration: line-through;
    font-size: 18px;
    opacity: 0.7;
  }

  & .card__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 6px 0;
  }

  & .card__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px 0;
  }

  & .card__meta {
    margin-top: 12px;
    font-size: 0.85em;
  }

  & .card__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: 700;
    background-color: var(--main);
    padding: 5px 20px;
    border-radius: var(--border-radius-small);
    z-index: 1;
  }
}