@import "src/Variables.scss";

.header {
  background-color: $main;
  border-bottom: 2px solid $dark-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding-right: 20px;
  padding-left: 20px;

  //   fixed if you wanna to see it always, absolute if you wanna it to stay in top
  position: fixed;
  // position: absolute;

  right: 0;
  left: 0;
  top: 0;

  z-index: 10;
  transition: $transition;

  &.dark {
    background-color: $dark-main;
    border-bottom: 2px solid $main;
    // color: $dark;
  }
  .logo-link {
    display: flex;
    .logo {
      height: calc($header-height - 10px);
      border-radius: 100rem;
      border: 2px solid $dark-main;
      transition: $transition;

      &.dark {
        border: 2px solid $main;
      }
    }
  }

  .navigation {
    display: flex;
    gap: 25px;

    .navigation-item {
      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
        position: relative;

        &::before,
        &::after {
          content: "";
          width: 3px;
          height: 100%;
          background-color: $dark-main;
          position: absolute;
          top: 0;
          transition: $transition;
        }

        &::before {
          left: -7px;
        }

        &::after {
          right: -7px;
        }

        &.dark {
          &::before,
          &::after {
            background-color: $main;
          }
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .navigation {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        padding: 20px 80px;
        position: absolute;
        top: calc($header-height + 5px);
        right: 5px;
        text-align: center;
        z-index: 10;
        background: $main;
        border: 2px solid $dark-main;
        border-radius: 15px;

        // full width
        // left: 5px;

        &.dark {
          background-color: $dark-main;
          border: 2px solid $main;
          // color: $dark;
        }
      }
    }

    .menu-toggle {
      display: flex;
    }
  }
}
