.header {
  background-color: rgba(0, 114, 114, 0.425);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;

  position: absolute; //   fixed if you wanna to see it always
  right: 0;
  left: 0;
  top: 0;

  .logo {
    height: 45px;
  }

  .navigation {
    display: flex;
    gap: 15px;
  }
}
