@import "src/Variables.scss";

.footer {
  background-color: $blue;
  border-top: 2px solid $dark-blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  padding: 5px 20px;

  //   fixed if you wanna to see it always, absolute if you wanna it to stay in top
  position: fixed;
  // position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  &.dark{
    background-color: $dark-blue;
    border-top: 2px solid $blue;
    // color: $dark;
  }

  .footer-list {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .footer-item{
      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }

  }

  .color-options {
    display: flex;
    justify-content: center;
    align-items: center;

    .color-option {
      cursor: pointer;
    }
  }
}
