@import "../../Variables.css";

.footer {
  background-color: var(--main);
  border-top: 2px solid var(--dark-main);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  padding: 10px 10px;

  /*  fixed if you wanna to see it always, absolute if you wanna it to stay in bottom */
  position: fixed;
  /* position: absolute; */

  /* if you like it tiny */
  border-left: 2px solid var(--dark-main);
  border-top-left-radius: 16px;

  /* large */
  /* left: 0; */

  right: 0;
  bottom: 0;
  transition: var(--transition);

  .footer-list {
    display: flex;
    justify-content: flex-end;

    gap: 15px;

    .footer-item {
      font-size: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      & div, & a{
        display: flex;
        justify-content: center;
        align-items: center;

        & svg{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &:hover{
        filter: drop-shadow(0 0 2px var(--dark-main)) drop-shadow(0 0 4px var(--dark-main))
      }

      &.color-option{
        margin-left: 15px;
        cursor:pointer;
      }
    }
  }

  &.dark {
    background-color: var(--dark-main);
    border-top: 2px solid var(--main);
    /* color: --dark; */

    /* only tiny */
    border-left: 2px solid var(--main);


    .footer-item{
      &:hover{
        filter: drop-shadow(0 0 2px var(--main)) drop-shadow(0 0 4px var(--main))
      }
    }

  }


}
