.footer {
  background-color: rgba(41, 0, 223, 0.459);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 30px;
  padding-right: 20px;

  position: absolute;  //   fixed if you wanna to see it always
  right: 0;
  left: 0;
  bottom: 0;

  .footer-list {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}
