.radial-progress {
  --size: 40px;
  --thickness: 3px;
  --percent: 0;
  --completed: var(--green);
  --non-completed: var(--light);

  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius-full);
  display: grid;
  place-items: center;
  position: relative;
  background: conic-gradient(
    var(--non-completed) calc(var(--percent) * 3.6deg),
    var(--completed) 0deg
  );

  &.dark {
    background: conic-gradient(
      var(--completed) calc(var(--percent) * 3.6deg),
      var(--non-completed) 0deg
    );
  }

  &::before {
    content: "";
    position: absolute;
    inset: calc(var(--size) / 10);
    border-radius: var(--border-radius-full);
    background: var(--light);
  }

  &.dark {
    &::before {
      content: "";
      position: absolute;
      inset: calc(var(--size) / 10);
      border-radius: var(--border-radius-full);
      background: var(--dark);
    }
  }

  .number {
    position: relative;
    z-index: 1;
    font-size: calc(var(--size) / 2.5);
  }
}
