@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&family=Poppins:wght@200;400;700;900&family=Roboto:wght@300;400;700&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Montserrat:wght@200;400;700;900&family=Playfair+Display:wght@400;700;900&family=Raleway:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap");
@import url("./Variables.css");

* {
  font-family: var(--font-paragraph);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
