$light: #fdfdfd;
$dark: #101010;
$light-gray: #d3d3d3;
$dark-gray: #383838;

$blue: #22d3ee;
$dark-blue: #014d80;
$green: #22ee66;
$dark-green: #00642b;
$purple: #bc75ff;
$dark-purple: #430180;
$red: #ff7575;
$dark-red: #800101;

// main color
$main: $blue;
$dark-main: $dark-purple;

$header-height: 50px;

$transition: all 0.3s ease;
