@import "src/Variables.scss";

.blog-card {
  background: linear-gradient(145deg, transparent 40%, $main 120%);
  border: 2px solid $main;
  box-shadow: 2px 2px 5px $dark-main;
  border-radius: 5px;
  margin: 5px;
  max-width: 300px;
  overflow: hidden;

  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__info {
    padding: 0px 15px 10px 15px;
  }

  &__title {
    background: transparent;
  }

  &__subtitle {
    background: transparent;
  }

  &__content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__author {
    margin-top: 20px;
    font-size: 0.85em;
  }
}
